body{
    text-align: center;
}
#school{
    width: 1050px;
}
#contacts{
    background-color: white;
}
.menu_bar{
    position:sticky;
    top: 0;
    z-index: 999;
}
hm{
    width:70px;
    height:70px;
    
}
